.Ehme {
  display: flexbox;
  height: 100%;
  width: 100%;
  position:unset;
}

.state {
  text-align: left;
  position: absolute;
  left: 2%;
  top: 5%;
  right: auto;
  width: 50%;
  height: fit-content;
}

.ncstate {
  font-family: "Orbitron", sans-serif;
  font-size: 3.8vw;
  color: rgb(255, 208, 0);
  font: small-caps;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1.7%;
}

.sas {
  text-align: right;
  width: 40%;
  height: 35%;
  position: absolute;
  left: 51%;
  top: 15%;
  right: auto;
  z-index: 950;
}

.sas img{
  position: relative;
}



.Eside {
  text-align: center;
  width: 50%;
  position: absolute;
  left: 2%;
  top: 40%;
  right: auto;
  height: fit-content;
}

.p1 {
  text-align: left;
  color: rgb(255, 208, 0);
  font-size: 2.5vw;
  padding-left: 1%;
  margin-bottom: .5%;
  font-family: "Orbitron", sans-serif;
  margin-top: 2%;
}

.p2 {
  text-align: left;
  font-style: italic;
  color: rgb(194, 159, 2);
  padding-left: 2%;
  margin-top: 0%;
  font-size: 1.5vw;
}

.schlist {
  text-align: left;
  font-size: 1.1vw;
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  list-style: none;
  padding-left: 1.5%;
}

.Eside2 {
  position: absolute;
  left: 2%;
  top: 90%;
  right: 2%;
  height: fit-content;
}

.p21 {
  text-align: center;
  color: rgb(255, 208, 0);
  font-size: 2.5vw;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Orbitron", sans-serif;
}

.p22 {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  padding: 0% 3%;
  font-size: .9vw;
}

.knowlist {
  padding: 0% 3%;
}

.knowlist2 {
  padding: 0% 3%;
}

.knowlist p {
  text-align: center;
  color: rgb(255, 208, 0);
  font-family: "Orbitron", sans-serif;
  font-size: 1.5vw;
}

.knowlist2 p {
  text-align: center;
  color: rgb(255, 208, 0);
  font-family: "Orbitron", sans-serif;
  font-size: 1.5vw;
}

.knowlist dt {
  color: rgb(194, 159, 2);
  font-family: "Orbitron", sans-serif;
  font-size: .9vw;
}

.knowlist2 dt {
  color: rgb(194, 159, 2);
  font-family: "Orbitron", sans-serif;
  font-size: .9vw;
}

.knowlist dd {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  font-size: .9vw;
}

.knowlist2 dd {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  font-size: .9vw;
}

.btm {
  position: absolute;
  background-color: rgb(255, 208, 0);
  border-radius: 20px;
  top: 150%;
  left: 2%;
  right: 2%;
}

.btmpage {
  display: flex;
  justify-content: space-evenly;
}

.fend {
  font-size: 3vw;
  color: rgb(255, 208, 0);
  padding-left: 2.5%;
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.bend {
  font-size: 3vw;
  color: rgb(255, 208, 0);
  padding-left: 0%;
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.btmlists {
  display: flex;
  justify-content: space-evenly;
}

.btmlists ul {
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.btmlists ul li {
  margin: 3% 0%;
  font-size: 1vw;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}

.react {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.node{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.react-pltly {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.axios {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.django {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.djangorf {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.gunicorn{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.dj-c-h{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.datab{
  display: flex;
  justify-content: center;
  align-items: center;
}

.db{
  font-size: 3vw;
  color: rgb(255, 208, 0);
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.dbpost{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
  font-family: "Orbitron", sans-serif;
  margin-left: 2%;
}

.heroku{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dep{
  font-size: 3vw;
  color: rgb(255, 208, 0);
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.hboi{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
  font-family: "Orbitron", sans-serif;
  margin-left: 2%;
}











.m-state {
  text-align: left;
  width: 100%;
  height: fit-content;
}

.m-ncstate {
  font-family: "Orbitron", sans-serif;
  font-size: 10vw;
  color: rgb(255, 208, 0);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1.7%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.m-sas {
  width: 50%;
  height: auto;
  z-index: 950;
  margin-bottom: 1%;
}

.m-sas img{
  position: relative;
  width: 100%;
  height: auto;
}



.m-Eside {
  text-align: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 1%;
}

.m-p1 {
  text-align: left;
  color: rgb(255, 208, 0);
  font-size: 5vw;
  padding-left: 1%;
  margin-bottom: .5%;
  font-family: "Orbitron", sans-serif;
  margin-top: 2%;
}

.m-p2 {
  text-align: left;
  font-style: italic;
  color: rgb(194, 159, 2);
  padding-left: 2%;
  margin-top: 0%;
  font-size: 3vw;
}

.m-schlist {
  text-align: left;
  font-size: 2.8vw;
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  list-style: none;
  padding-left: 1.5%;
}

.m-Eside2 {
  width: 100%;
  height: fit-content;
  margin-bottom: 1%;
}

.m-p21 {
  text-align: center;
  color: rgb(255, 208, 0);
  font-size: 5vw;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Orbitron", sans-serif;
}

.m-p22 {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  padding: 0% 3%;
  font-size: 2.8vw;
}

.m-knowlist {
  padding: 0% 3%;
}

.m-knowlist2 {
  padding: 0% 3%;
}

.m-knowlist p {
  text-align: center;
  color: rgb(255, 208, 0);
  font-family: "Orbitron", sans-serif;
  font-size: 4vw;
}

.m-knowlist2 p {
  text-align: center;
  color: rgb(255, 208, 0);
  font-family: "Orbitron", sans-serif;
  font-size: 4vw;
}

.m-knowlist dt {
  color: rgb(194, 159, 2);
  font-family: "Orbitron", sans-serif;
  font-size: 2.8vw;
}

.m-knowlist2 dt {
  color: rgb(194, 159, 2);
  font-family: "Orbitron", sans-serif;
  font-size: 2.8vw;
}

.m-knowlist dd {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  font-size: 2.8vw;
}

.m-knowlist2 dd {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  font-size: 2.8vw;
}

.m-btm {
  width: 100%;
  background-color: rgb(255, 208, 0);
  border-radius: 20px;
  margin-bottom: 5%;
}

.m-btmpage {
  display: flex;
  justify-content: space-evenly;
}

.m-fend {
  font-size: 4vw;
  color: rgb(255, 208, 0);
  padding-left: 2.5%;
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.m-bend {
  font-size: 4vw;
  color: rgb(255, 208, 0);
  padding-left: 0%;
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.m-btmlists {
  display: flex;
  justify-content: space-evenly;
}

.m-btmlists ul {
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.m-btmlists ul li {
  margin: 3% 0%;
  font-size: 2.8vw;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}

.m-react {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.m-node{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.m-react-pltly {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.m-axios {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.m-django {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.m-djangorf {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.m-dj-c-h{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.m-gunicorn{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.m-datab{
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-db{
  font-size: 3vw;
  color: rgb(255, 208, 0);
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.m-dbpost{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
  font-family: "Orbitron", sans-serif;
  margin-left: 2%;
}

.m-heroku{
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-dep{
  font-size: 3vw;
  color: rgb(255, 208, 0);
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.m-hboi{
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
  font-family: "Orbitron", sans-serif;
  margin-left: 2%;
}
