.Ehme {
  display: flexbox;
  margin: 20px 30px;
  height: 100%;
  width: 100%;
  position:unset;
}

.state {
  text-align: left;
  position: absolute;
  left: 2%;
  top: 5%;
  right: auto;
  width: 50%;
  height: fit-content;
}

.ncstate {
  font-family: "Orbitron", sans-serif;
  font-size: 3.8vw;
  color: rgb(255, 208, 0);
  font: small-caps;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1.7%;
}

.sas {
  text-align: right;
  width: 40%;
  height: 35%;
  position: absolute;
  left: 51%;
  top: 15%;
  right: auto;
  z-index: 950;
}

.sas img{
  position: relative;
  height: min-content;
}



.Eside {
  text-align: center;
  width: 50%;
  position: absolute;
  left: 2%;
  top: 40%;
  right: auto;
  height: fit-content;
}

.p1 {
  text-align: left;
  color: rgb(255, 208, 0);
  font-size: 2.5vw;
  padding-left: 1%;
  margin-bottom: .5%;
  font-family: "Orbitron", sans-serif;
  margin-top: 2%;
}

.p2 {
  text-align: left;
  font-style: italic;
  color: rgb(194, 159, 2);
  padding-left: 2%;
  margin-top: 0%;
  font-size: 1.5vw;
}

.schlist {
  text-align: left;
  font-size: 1.1vw;
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  list-style: none;
  padding-left: 1.5%;
}

.Eside2 {
  position: absolute;
  left: 2%;
  top: 90%;
  right: 2%;
  height: fit-content;
}

.p21 {
  text-align: center;
  color: rgb(255, 208, 0);
  font-size: 2.5vw;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: "Orbitron", sans-serif;
}

.p22 {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  padding: 0% 3%;
  font-size: .9vw;
}

.knowlist {
  padding: 0% 3%;
}

.knowlist2 {
  padding: 0% 3%;
}

.knowlist p {
  text-align: center;
  color: rgb(255, 208, 0);
  font-family: "Orbitron", sans-serif;
  font-size: 1.5vw;
}

.knowlist2 p {
  text-align: center;
  color: rgb(255, 208, 0);
  font-family: "Orbitron", sans-serif;
  font-size: 1.5vw;
}

.knowlist dt {
  color: rgb(194, 159, 2);
  font-family: "Orbitron", sans-serif;
  font-size: .9vw;
}

.knowlist2 dt {
  color: rgb(194, 159, 2);
  font-family: "Orbitron", sans-serif;
  font-size: .9vw;
}

.knowlist dd {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  font-size: .9vw;
}

.knowlist2 dd {
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  font-size: .9vw;
}

.btm {
  position: absolute;
  background-color: rgb(255, 208, 0);
  border-radius: 20px;
  top: 160%;
  left: 2%;
  right: 2%;
}

.btmpage {
  display: flex;
  justify-content: space-evenly;
}

.fend {
  font-size: 3vw;
  color: rgb(255, 208, 0);
  padding-left: 2.5%;
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.bend {
  font-size: 3vw;
  color: rgb(255, 208, 0);
  padding-left: 0%;
  width: fit-content;
  font-family: "Orbitron", sans-serif;
}

.btmlists {
  display: flex;
  justify-content: space-evenly;
}

.btmlists ul {
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.btmlists ul li {
  margin: 3% 0%;
  font-size: 1vw;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}

.react {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.react-pltly {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.axios {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.django {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}

.djangorf {
  text-align: center;
  color: rgb(75, 71, 68);
  font-weight: bolder;
}
