.proj {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
}

.plt {
  text-align: center;
}

.project2 {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  justify-content: center;
}

.plt2 {
  text-align: center;
}

.m-project {
  text-align: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
}

.m-plt {
  text-align: center;
  width: 100%;
}

.m-project2 {
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
  justify-content: center;
}

.m-plt2 {
  text-align: center;
  width: 100%;
}
