.Chme {
  display: flexbox;
  margin: 20px 30px;
  height: 100%;
  width: 100%;
  position:unset;
}

.cname {
  text-align: left;
  position: absolute;
  left: 2%;
  top: 15%;
  right: auto;
  width: 50%;
  height: fit-content;
}

.evan {
  font-family: "Orbitron", sans-serif;
  font-size: 3.8vw;
  color: rgb(255, 208, 0);
  font: small-caps;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1.7%;
  text-align: center;
}

.mypic {
  text-align: right;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 51%;
  top: 25%;
  right: auto;
  z-index: 950;
}

.mypic img {
  text-align: right;
  width: 400px;
  height: auto;
}

.Cside {
  text-align: center;
  width: 50%;
  position: absolute;
  left: 2%;
  top: 50%;
  right: auto;
}

.cp1 {
  text-align: left;
  color: rgb(255, 208, 0);
  font-size: 2.5vw;
  padding-left: 1%;
  margin-bottom: .5%;
  font-family: "Orbitron", sans-serif;
  margin-top: 2%;
  text-align: center;
}

.clist {
  text-align: left;
  font-size: 1.1vw;
  color: rgb(253, 237, 165);
  font-family: "Orbitron", sans-serif;
  list-style: none;
  padding-left: 1.5%;
  text-align: center;
}


.clist li a {
  text-decoration: none;
  color: rgb(196, 166, 0);
}
