.m-pltttle{
    font-size: 4vw;
  font-family: "Orbitron", sans-serif;
  color: rgb(255, 208, 0);
  padding: 0px 0px;
  margin: 0px 0px;
  width: 100%;
}

.m-pltsttle{
    font-size: 3vw;
  font-family: "Orbitron", sans-serif;
  color: rgb(253, 237, 165);
  padding: 0px 0px;
  margin: 0px 0px;
  width: 100%;
}

.m-plottyboi{
    overflow-x: scroll;
}

.m-btnlst{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}

.m-btns p{
    font-size: 3vw;
  font-family: "Orbitron", sans-serif;
  color: rgb(253, 237, 165);
  padding: 0px 0px;
  margin: 0px 0px;
}

.m-btns ul button{
    background-color: rgb(97, 92, 87);
    font-size: 2vw;
    font-family: "Orbitron", sans-serif;
    color: rgb(253, 237, 165);
    border-style: solid;
    border-color: rgb(253, 237, 165);
    padding: 2%;
}

.m-btns ul button:hover{
    background-color: rgb(253, 237, 165);
    color: rgb(97, 92, 87);
}