.Ihme {
  display: flex;
  margin: 20px 30px;
  height: 600px;
  position: relative;
}
.Imain {
  width: 50%;
  text-align: center;
  margin-left: 300px;
  position: absolute;
  right: 200px;
  top: 100px;
}
.Iside {
  text-align: center;
  width: 15%;
  position: absolute;
  left: 600px;
  top: 300px;
  z-index: 900;
}

.Imain-2 {
  width: 50%;
  text-align: center;
  position: absolute;
  left: 200px;
  top: 800px;
}

.Iside-2 {
  text-align: center;
  width: 15%;
  position: absolute;
  right: 600px;
  top: 1000px;
  z-index: 900;
}
