body {
  background-color: rgb(75, 71, 68);
  background-image: url("./Assets/Icons/network7.png");
  background-size: cover;
}

.head {
  position: sticky;
  top: 0%;
  padding: 1% 0px;
  z-index: 999;
}

